@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(7, 141, 238);
  --secondary-color:  #FA541C ;
  background-color: rgb(237, 237, 237);
  color: rgb(56, 51, 51);

  /* background-color: rgb(22, 28, 36); */
  /* background-color: rgb(36, 41, 46) */
}

/* ul li a{
  @apply rounded py-[7px] px-[13px] text-[17px] hover:bg-slate-300 transition-all duration-300
} */

@media (max-width: 879px)
{
   .dividerline
   {
          visibility: hidden;
   }
}

@media (max-width:556px){
    .home{
      padding-left: 30px;
      padding-right: 30px;
    }

    .about{
      height: 710px;
      padding: 30px;
      padding-top: 60px;
    }
    
    .projects{
      padding-left: 30px;
      padding-right: 30px;
    }

    .profilepic{
      max-width: 170px;
    }

    /* .projectsc{
      padding: 14px;
  } */

    .cardtitle{
      display: flex;
      flex-direction: column;
  }

    
  }
  
  @media (max-width:769px){
    .lineswap{
      visibility: hidden;
    }
    
}


/* @media (prefers-color-scheme: dark) {
  :root{
    --primary-color: rgb(7, 141, 238);
    --secondary-color:  #FA541C ;
    background-color: rgb(33, 31, 31);
    color: rgb(237, 237, 237);
  }
} */
